@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    padding: 10px;
    border-width: 2px
  }
  

  li input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid orange; /* Set default border color to text-purple-950 */
    background-color: white;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  li input[type="checkbox"]:checked {
    border-color: rgb(24, 11, 36); /* Set border color to green when checked */
  }
  
  /* Style the check mark */
  li input[type="checkbox"]:checked::before {
    content: '\2713'; /* Unicode check mark symbol */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Set check mark color to green */
  }